/* Legg til dette nederst i admin.css */
#admin-menu-list {
    margin-top: 15px;
}

#admin-menu-list .order-card {
    padding: 10px 20px;
    background: #f9f9f9;
}

#admin-menu-list .btn-danger {
    padding: 5px 10px;
    font-size: 0.8em;
}